
{% extends 'base/base.html' %}
{% load static %}
<body class="animsition">
{% block content %}



 <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->
  <div class="bg0 m-t-40 p-b-140 p-t-40">
		<div class="container">
			


          {% if not cart_items %}

          <!-- subscribe_area part start-->
          <section class="">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-7">
                          <div class="subscribe_area_text text-center mt-3">
                              <h2>Your Wishlist is Empty !!</h2>
                              <hr>
                              <h>Add Your Favorites Books Now</h5>
                              <br><br>
                              <div class="">
                                  <a href="{% url 'store' %}" class="input-group-text btn_3" id="basic-addon2">Continue Shopping</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!--::subscribe_area part end::-->
          
          {% else %}
          <section class="cart_area">
          <div class="container">
              <div class="cart_inner">
              <div class="table-responsive">
                  <hr>
                  <table class="table">
                      <div class="checkout_btn_inner float-right p-5">
                          <a class="btn_1" href="{% url 'store' %}"><button type="button" class="btn btn-primary">continue shopping</button></a>
                      </div>
                      <thead>
                          <tr>
                          <th scope="col">Products</th>
                          <th scope="col">Price</th>
                          <th scope="col"></th>
                          <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for cart_item in cart_items %}
                          <tr>
                              <td>
                                  <div class="media">
                                      <div class="d-flex">
                                          <img src="{{cart_item.product.primary_image.url}}" alt="" style="height:150px"/>
                                      </div>
                                      <div class="media-body">
                                          <a href="{{ cart_item.product.get_url }}"><h3 class="stext-102 cl3 p-t-23" >{{cart_item.product.product_name}}</h3></a>
                                          <p class="stext-102 cl3 p-t-23">Author: {{cart_item.product.author | truncatechars:170}}</p>
                                          {% if cart_item.variations.all %}
                                              {% for item in cart_item.variations.all %}
                                                  <p>
                                                      {{item.variation_category}} : {{item.variation_value}}
                                                  </p>
                                              {% endfor %}                                
                                          {% endif %}
                                      </div>
                                  </div>
                              </td>
                              <td>
                                  <h5>Rs.{{cart_item.product.price}}</h5>
                              </td>
                              <td>
                                  <div class="product">
                                  </div>
                              </td>
                              <td>
                                  <a class="btn_1 m-2" href="{% url 'remove_wishlist' cart_item.product.id %}" ><button type="button" class="btn btn-danger" onclick="return confirm('Are you sure?')">remove</button></a>
                                  <a class="btn_1 m-2" href="{{cart_item.product.get_url}}"><button type="button" class="btn btn-success">buy now</button></a>
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                  
              </div>
              </div>
          </section>
          <!--================End Cart Area =================-->
          {% endif %}
</div>
</div>
</div>
</div>
  {% include 'includes/loader.html' %}

{% endblock %}


